@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900;
  }
}

@layer utilities {
  .punjabi-text {
    font-family: 'Noto Sans Gurmukhi', 'Raavi', sans-serif;
  }
}
